{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="vertical-spacer"></div>
    <button class="button">{{ button_label|default('Save')|trans }}</button>
{{ form_end(form) }}

{% block javascript %}

<script
    src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
    crossorigin="anonymous"></script>

<script>
$(function() {
    const phonesBlock = $('#page_meta_tags_metaTags');
    console.log(phonesBlock);
    const link = document.createElement('a');
    link.href = 'javascript:';
    link.innerText = '{{ 'Add' | trans }}';
    link.style.marginTop = '8px';
    link.style.display = 'inline-block';
    link.classList.add('button', 'button-small');
    phonesBlock.append(link);

    const removeThisRow = (e) => {
        let elementToRemove = e.target.parentElement.parentElement.parentElement;

        elementToRemove.parentElement.removeChild(elementToRemove);
    };

    $(link).on('click', function () {
        let prototype = phonesBlock.data('prototype');

        let newValue = phonesBlock.find('fieldset').length;
        prototype = prototype.replace(/__name__label__/g, newValue);
        prototype = prototype.replace(/__label__/g, newValue);
        prototype = prototype.replace(/__name__/g, newValue);

        const newElement = $(prototype).insertBefore(link);
        $(newElement).find('.remove-this-field').on('click', removeThisRow);
    });

    $('.remove-this-field').on('click', removeThisRow);
});
</script>
{% endblock %}