<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    {% if dashboard.pageMetaTags != null and dashboard.pageMetaTags.title is not empty %}
    <title>{{ dashboard.pageMetaTags.title }}</title>
    {% else %}
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% endif %}

    {% for metaTag in dashboard.metaTags %}
        <meta name="{{ metaTag.name }}" content="{{ metaTag.content }}" />
    {% endfor %}

    <link rel="stylesheet" href="{{ asset('build/frontend.css') }}" />
</head>
<body>

    <header class="header">
        <div class="container">
            <nav class="header-navigation">
                <a href="javascript:" class="menu"><img src="{{ asset('assets/frontend/menu.png') }}" /></a>
                <a href="javascript:" class="logo"><img src="{{ asset('assets/frontend/logo.png') }}" /></a>
                <a href="javascript:">{{'Products and services' | trans}}</a>
                <a href="javascript:">{{ 'Our Projects' | trans }}Наши проекты</a>
                <a href="javascript:">{{ 'Our Partners' | trans }}</a>
                <a href="javascript:">{{'Contacts'|trans}}</a>
                <div class="language-dropdown">
                    <div class="current-language">{{dashboard.currentLocale|capitalize}}</div>
                    <nav class="available-languages">
                        {% for locale in dashboard.otherLocales %}
                        <a href="{{ path('index', { _locale: locale }) }}" class="language-option">{{locale|capitalize}}</a>
                        {% endfor %}
                    </nav>
                </div>
            </nav>
            <div class="header-image-wrapper">
                <img src="{{ asset('uploads/photos/' ~ slider.firstPhoto.files['slider-large'].filename) }}" class="header-image" />
            </div>
        </div>
    </header>

    <div class="content-grid content-grid-hero">
        <div class="container">
            <div class="content-grid-body content-grid-body-hero">
                <div class="image hide-table hide-mobile">
                    <img src="{{ asset('uploads/photos/' ~ first_block.firstPhoto.files['post-default'].filename) }}" />
                </div>
                <div class="content">
                    <h1 class="content-grid-header">{{first_block.title}}</h1>
                    {{ first_block.content|markdown }}
                </div>
            </div>
        </div>
    </div>

    <div class="content-grid">
        <div class="container">
            <h1 class="content-grid-header">{{second_block.title}}</h1>
            <div class="content-grid-body">
                <div class="content">
                    {{second_block.content|markdown}}
                </div>
                <div class="image">
                    <img src="{{ asset('uploads/photos/' ~ first_block.firstPhoto.files['post-default'].filename) }}" />
                </div>
            </div>
        </div>
    </div>

    <div class="container container-offset-top-small">

        <h1>{{'Products and Services' | trans}}</h1>

        <div class="products-and-projects-grid products-grid">
            {% for product in products %}
                {% include 'partials/product.html.twig' with { product: product } %}
                {% include 'partials/product.html.twig' with { product: product } %}
            {% endfor %}
        </div>
    </div>

    <div class="container container-offset-top">

        <h1>{{'Our Projects' | trans}}</h1>

        <div class="products-and-projects-grid projects-grid">
            {% for project in projects %}
                {% include 'partials/project.html.twig' with { project: project } %}
            {% endfor %}
        </div>
    </div>

    <div class="container container-offset-top-100">

        <h1>{{'Our Partners' | trans}}</h1>

        <div class="partners-grid">
            {% for partner in partners %}
                {% include 'partials/partner.html.twig' with { partner: partner } %}
            {% endfor %}
        </div>
    </div>

    <div class="container container-offset-top-100">
        <h1>{{'Have questions?' | trans}}</h1>

        <div class="contact-form-container">
            <div class="contact-form">
                <input type="text" class="form-input" placeholder="{{'Name'|trans}}" required />
                <input type="text" class="form-input" placeholder="{{'Phone'|trans}}" required />
                <input type="email" class="form-input" placeholder="{{ 'E-Mail'|trans }}" required />
                <input type="text" class="form-input" placeholder="{{'Question'|trans}}" required />
                <a href="javascript:" class="button">{{'Send'|trans}}</a>
            </div>
            <div class="contact-information">
                <div class="contact-information-blocks">
                    <div>
                        <p class="strong">{{ dashboard.setting('address') | nl2br }}</p>
                    </div>
                    <div>
                        <p> <strong>Tel:</strong>  <a href="tel:{{ dashboard.setting('phone') }}">{{ dashboard.setting('phone') }}</a><br>
                            <strong>Fax:</strong> <a href="tel:{{ dashboard.setting('fax') }}">{{ dashboard.setting('fax') }}</a><br>
                            <strong>E-Mail:</strong> <a href="tel:{{ dashboard.setting('email') }}">{{ dashboard.setting('email') }}</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="map" id="map"></div>

    <footer class="footer">
        <div class="container footer-container">
            <div class="logo-section footer-section">
                <div>
                    <img src="{{ asset('assets/frontend/logo.png') }}" />
                </div>
                <b class="years">2010-2020</b>
                <b class="years">&copy; G&M ProcurementsKG</b>
            </div>
            <div class="products footer-section">
                <b class="footer-section-header">Наши продукты</b>
                <nav class="products-list">
                    <a href="javascript:">Фасады</a>
                    <a href="javascript:">Фасады</a>
                    <a href="javascript:">Фасады</a>
                    <a href="javascript:">Фасады</a>
                </nav>
            </div>
            <div class="projects footer-section">
                <b class="footer-section-header">Наши проекты</b>
                {{ dashboard.setting('translations.'~app.request.locale~'.projects')|markdown }}
            </div>
            <div class="subscribe footer-section">
                <b class="footer-section-header">Новости, новые объекты и тренды внешних оболочек зданий в России и в мире</b>
                <form>
                    <input class="form-input form-input-light" placeholder="Введите ваш E-Mail" type="email" required />
                    <input type="submit" value="Подписаться" />
                </form>
                <p class="form-info">Нажимая кнопку “Подписаться“ вы соглашаетесь  с <a href="javascript:">Правилами портала</a> и Политикой конфиденциальности портала</p>
                <div class="visible-only-1000 margin-top">
                    <b class="years">2010-2020</b><br>
                    <b class="years">&copy; G&M ProcurementsKG</b>
                </div>
            </div>
        </div>
    </footer>

    <div class="popup-container hidden">
        <div class="popup-content">
            <div class="popup-header">
                <img src="{{ asset('assets/temp/popup.png') }}" />
                <div class="close-button">
                    <img src="{{ asset('assets/frontend/close.png') }}" />
                </div>
            </div>
            <div class="content"></div>
        </div>
    </div>

    {% block body %}{% endblock %}

    {{ encore_entry_script_tags('frontend-js') }}
    <script src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&callback=initMap" async defer></script>

    {% block javascripts %}{% endblock %}
</body>
</html>
