{% extends 'admin.html.twig' %}

{% block title %}Partner{% endblock %}

{% block body %}
    <h1>Partner</h1>

    <table class="table details-table">
        <tbody>
            <tr>
                <th>{{'ID'|trans}}</th>
                <td>{{ partner.id }}</td>
            </tr>
            <tr>
                <th>{{'Image'|trans}}</th>
                <td>{% include 'dashboard/partials/single-photo.html.twig' with {
                        photo: partner.imageByName('admin-preview'),
                        delete_url: path('partner_delete_image', { id: partner.id }),
                        regenerate_url: path('partner_regenerate_image', { id: partner.id }),
                        photo_raw: partner.image
                    } %}
                </td>
            </tr>
            <tr>
                <th>{{'Title'|trans}}</th>
                <td>{{ partner.title }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('partner_edit', {'id': partner.id}) }}" class="button">{{'Edit'|trans}}</a>

{% endblock %}
